<ion-app>
  <ion-split-pane when="sm" content-id="main-content">
    <ion-menu content-id="main-content">
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-content>
        <ion-list>
          <ion-list-header> Navigate </ion-list-header>
          <ion-menu-toggle auto-hide="false">
            <ion-item button href="https://8100-gabrielzin0115-2egapami0-fulujgpmv9b.ws-us40.gitpod.io/home">
              <ion-icon slot="start" name="home"></ion-icon>
              <ion-label> Home </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    
    <div class="ion-page" id="main-content">
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-menu-toggle>
              <ion-button>
                <ion-icon slot="icon-only" name="menu"></ion-icon>
              </ion-button>
            </ion-menu-toggle>
          </ion-buttons>
          <ion-title>Detalhes séries</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content [fullscreen]="true" class="cdtl">
        <ion-card class="ccard" *ngFor="let serie of series">
          <ion-card-header>
            <ion-card-title><h1>Detalhes da Serie</h1></ion-card-title>
            <ion-card-subtitle>
              {{serie.subtitulo}}
            </ion-card-subtitle>
            <div class="ion-text-center"></div>
          </ion-card-header>
          <ion-card-content>
            <div>
              <ion-img [src]="serie.capa"></ion-img>
            </div>
            <h1>{{serie.texto}}</h1>
          </ion-card-content>
        </ion-card>
      </ion-content>