<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title [fullscreen]="true" class="ctitul">
      <div class="ion-text-center">
      <h1><b><i><u>{{titulo}}</u></i></b></h1>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="corhm">
  <ion-card class="corcard" *ngFor="let serie of series">
    <ion-card-header>
      <ion-card-title>
        <div class="ion-text-center">
          <h3>{{serie.titulo}}</h3>
        </div>
        </ion-card-title>
      <ion-card-subtitle>
        <div class="ion-text-center">
        <h4>{{serie.subtitulo}}</h4>
        </div>
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <div>
        <ion-img [src]="serie.capa"></ion-img>
      </div>
      <ion-text color="medium">

        <br><h2>{{serie.texto}}</h2><br>

        <div class="ion-text-center">
          <ion-button class="cbtnh" href="https://8100-gabrielzin0115-2egapami0-fulujgpmv9b.ws-us40.gitpod.io/detalhes-serie">Detalhes das Series</ion-button>
      </div>
        </ion-text>
    </ion-card-content>
  </ion-card>
</ion-content>
