#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #af1e1e;
  margin: 0;
}

#container a {
  text-decoration: none;

}
.corhm{
  --color:#fff;
  --background:#444444;
  }
  .corcard{
  --color:#fff;
  --background:#141414;
  }
  .cbtnh{
    --color:#ffff;
    --background:#b20710;
  }
  .ctitul{
    --color:#b20710;
  }

  